{% extends "ContactBundle::layout.html.twig" %}
{% block body %}
<h2>We've got mail!</h2>
<p>Thank you for getting in touch via our contact form, we aim to respond to contact requests within 24 hours of submission.</p>
<p>You should receive a confirmation email within the next few minutes just to check we got your address correctly</p>
<p>If you have any further queires please don't hesitate to use the message form again.</p>
{% endblock %}