<!doctype html>
<html>
  <head>
    <title>request recieved</title>
  </head>
  <body>
      <table>
          <tbody>
              <tr>
                  <td>
                      <p>Thank you for getting in touch via our contact form, we aim to respond to all requests with 24 hours of this email.</p>
                  </td>
              </tr>
              <tr>
                  <td>
                      <p>Kind Regards</p>
                  </td>
              </tr>
          </tbody>
          <thead>
              <tr>
                  <th>
                      <p>Dear {{ name }}</p>
                  </th>
              </tr>
          </thead>
      </table>
  </body>
</html>
